* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  outline: 0;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  transition: all 0.15s ease-in-out;
}
