/* UI BUTTONS */
.btn {
  font-size: rem(16);
  line-height: rem(26);
  transition: all .7s ease-in-out;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}
/* END UI BUTTONS */

/* UI IMAGES */
.sky--ui-logo__5 {
  img {
    width: 5%;
  }
}

.sky--ui-logo__10 {
  img {
    width: 10%;
  }
}

.sky--ui-logo__15 {
  img {
    width: 15%;
  }
}

.sky--ui-logo__25 {
  img {
    width: 25%;
  }
}

.sky--ui-logo__30 {
  img {
    width: 30%;
  }
}

.sky--ui-logo__40 {
  img {
    width: 40%;
  }
}

.sky--ui-logo__50 {
  img {
    width: 50%;
  }
}

.sky--ui-logo__70 {
  img {
    width: 70%;
  }
}

.sky--ui-logo__90 {
  img {
    width: 90%;
  }
}
/* END UI IMAGES */
